<div class="wrapper">
  <div class="container">
    <alert></alert>
    <header>
      <div class="profile-image">
        <img
          [src]="
            user?.image ||
            'https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png'
          "
        />
        <div>
          <i class="material-icons" (click)="fileInput.click()">
            add_a_photo
          </i>
          <input
            style="display: none"
            type="file"
            (change)="onUpload($event)"
            #fileInput
          />
        </div>
      </div>
      <div class="profile-main-info">
        <h3>{{ user?.name }}</h3>
        <p>{{ user?.email }} - {{ user.role }}</p>
      </div>
    </header>
    <form class="card" [formGroup]="form" (ngSubmit)="save()">
      <h4>Account information</h4>
      <ul>
        <li>
          <strong>Name: </strong>
          <input formControlName="name" type="text" [value]="form.value.name" />
        </li>
        <li>
          <strong>Email: </strong>
          <input type="text" formControlName="email" />
        </li>
        <li><strong>Role: </strong> {{ user?.role }}</li>
        <li>
          <strong>Password: </strong>
          <input formControlName="password" type="password" />
          <span class="material-icons"> visbility </span>
        </li>
      </ul>
      <div class="buttons">
        <button type="button" class="btn">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
